body {
  font-family: "Delius", serif;
  background-color: black;
  color: #e09f3e; /* Gold */
}
.custom-wrapper,
.custom-form,
.container * {
  background-color: black; /* Dark Gray */
  color: #e09f3e; /* Gold */
}
.navbar {
  background: black;
  background-color: #e09f3e;
}
.btn-primary{
  background-color: #e09f3e;
  color: black;
  border-color: #e09f3e;
}
.btn-primary:hover {
  background-color: #fcbf49;
  border-color: #fcbf49;
}

  .movie-grid {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
  }
  
  .movie-grid li {
    padding: 10px 15px;
    text-align: left;
  }
  
  .movie {
    width: 140px;
  }

  .buttons-group,
  .search-group {
    display: flex;
    flex-wrap: wrap;
  }
  .movie-update,
  .movie-delete,
  .movie-review {
    margin-inline: 5px;
  }
  
  .movie-title,
  .movie-year,
  .movie-rating {
    font-size: 0.8em;
    text-align: center;
  }
  .movie-year {
    color: #999;
  }
  
  .movie-poster {
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
      width: 128px;
      height: 193px;
  }
  
  .movie:hover .movie-note {
      opacity:1;
  }