<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Add movie - MovieWeb App</title>
    </head>
    <body>
        <header>
            <nav>
                <a href="/add_user"> Add user </a>
                <a href="/add_movie"> Add movie </a>
            </nav>
            <h1>Add movie</h1>
        </header>
        <div class="form-container">
            <form action="{{ url_for('add_movie', user_id=user_id)}}" method="post">
                <label for="movie_name"> movie name: </label>
                <input type="text" name="movie_name" id="movie_name"><br><br>
                <label for="movie_director">Director:</label>
                <input type="text" name="movie_director" id="movie_director" required><br><br>
                <label for="movie_year">Year: </label>
                <input type="text" name="movie_year" id="movie_year" placeholder="YYYY" pattern="\d{4}" maxlength="4" required><br><br>
                <label for="movie_rating">Rating: </label>
                <input type="range" name="movie_rating" id="movie_rating" min="0" max="10" oninput="rangeValue.innerText = this.value">
                <p id="rangeValue">5</p>
                <input type="submit" value="Add movie">
                {% if message %}
                <p>{{message}}</p>
                {% endif %}
            </form>
        </div>
    </body>
</html>