<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="/static/style.css"/>
        <title>User movies - MovieWeb App</title>
    </head>
    <body>
        <header>
            <nav>
                <a href="/add_user"> Add user</a>
            </nav>
            
        </header>
        {% if message %}
        <p>{{message}}</p>
        {% endif %}
        <div class="list-movies-title">
            <h1>{{user.name}} movies list</h1>
        </div>
        <ol class="movie-grid">
            {% for movie in list_movies_user%}
            <li>
                <div class="movie-container">
                    <div class="movie">
                        <a href="https://www.imdb.com/de/title/{{movie.imdb_id}}">
                            <img class="movie-poster" src="{{movie.poster}}" alt="">
                        </a>
                        <div class="movie-title">{{movie.name}}</div>
                        <div class="movie-year">{{movie.year}}</div>
                        <div class="movie-rating">{{movie.rating}}</div>
                        <div class="movie-update">
                            <form action="{{ url_for('update_user_movie', update_user_id=movie.id_user, update_movie_id=movie.id)}}" method="POST">
                                <input type="submit" value="Update">
                            </form> 
                        </div>
                        <div class="movie-delete">
                            <form action="{{ url_for('delete_movie', user_id=movie.id_user, movie_id=movie.id)}}" method="POST">
                                <input type="submit" value="Delete">
                            </form> 
                        </div>
                    </div>    
                </div>               
            </li>
            {% endfor %} 
        </ol>

        
    </body>
</html>