<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>User movies - MovieWeb App</title>
    </head>
    <body>
        <header>
            <nav>
                <a href="/add_user"> Add user</a>
            </nav>
            
        </header>
        {% if message %}
        <p>{{message}}</p>
        {% endif %}
        <h1>User {{user.name}} movies</h1>
        <ul>
            {% for movie in list_movies_user%}
            <li>User id: {{ movie.id }}, User name: {{movie.name}} </li>
            {% endfor %}
        </ul>
    </body>
</html>